*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
    /*width: 70%;*/
    width: 1100px;
    margin: 0px auto;
    border: 3px solid black;
}

header{
    background: red;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 4px solid black;
}


nav ul li{
    float: left;
    list-style: none;
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: 80%;
    background: lightgrey;
    min-height: 500px;
}

.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
aside{
    float: left;
    width: calc(20% - 20px);
    background:orange;
    min-height: 500px;
    padding: 10px;
}

.article:first-child{
    padding-top: 1
    border-top: 1px solid #eee
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
